.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* width: 800px; */
}

.operations {
  width: 400px;
  display: flex;
  justify-content: space-between;
}

.todo-list {
  width: 800px;
}
